body{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
	margin: 2%;
}

#startCanvas{
	border: 2px solid black;
	background-color: white;
}

#myCanvas{
	border: 2px solid black;
	background-color: white;
}

.control-container{
	display:flex;
	flex-direction: row;
	padding-bottom: 2%;
}

.myButton{
	font-family: Geneva, Verdana, sans-serif;
	cursor: pointer;
}